.root {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 90%;
  position: relative;
  border: 1px solid var(--primary-color);
}

.titleBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--primary-color);
}

.review {
  margin: 15px;
  background-color: var(--secondary-color);
}

.username {
  padding-left: 15px;
}
