.root {
  height: 100%;
  width: 100%;
  background-color: var(--secondary-color);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.browseList {
  display: flex;
  flex-direction: column;
}

.listTitleBar {
  display: grid;
  width: 100%;
  gap: 10px;
  height: 50px;
  min-width: 500px;
  flex-direction: row;
  grid-template-columns: 10% 60% 10% 10% 10%;
  grid-auto-flow: column;
  justify-items: start;
  align-items: center;
}

.listSortOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.bottomBar {
  display: flex;
  justify-content: center;
}

.searchBar {
  display: flex;
  width: 600px;
  align-self: center;
  justify-content: center;
}

.browse {
  display: flex;
  align-content: center;
}

.searchInput {
  display: flex;
  align-items: center;
  width: 100%;
}

.unorderedList {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-direction: column;
  justify-items: start;
  align-items: start;
}