.root {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  display: flex;
}

.signupContainer {
  background-color: #1877f2;
  width: 400px;
  height: auto;
  border: 20px solid #1877f2;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.signupElement {
  flex: 5;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  color: #ffffff;
  border: 5px solid #1877f2;
  width: 100%;
}

.signupInput {
  display: flex;
  flex: 5;
  width: 100%;
}

.signupButton {
  margin: 5px;
}

.signupError {
  color: #fc0101;
}
