{
    "printWidth": 100,
    "singleQuote": true,
    "semi": true,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "overrides": [
        {
            "files": [
                "*.js",
                "*.cjs",
                "*.mjs",
                "*.ts",
                "*.tsx",
                "*.cts",
                "*.mts"
            ],
            "options": {
                "tabWidth": 4
            }
        }
    ]
}